.pinkBg {
  height: 50%;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
}
.lineInput {
  background-color: #d2d2d2;
  height: 0.1px;
}
input::placeholder {
  color: #d2d2d2;
}
.placeTitle {
  top: 50px;
}
input:focus + .lineInput {
  background-color: #fbb6db;
}
.btnBorder {
  border: 0.5px #b1b1b1 solid;
}
.hasError {
  background-color: #ff6060;
}
.changeWidth {
  width: 50%;
  transition: 0.5s ease-in;
}
/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: #ffffff;
}
