<div class="w-full h-screen lg:flex">
  <div
    class="w-full lg:h-full lg:w-1/2 rounded-bl-full lg:rounded-none gradientBackground absolute lg:static h-56 top-0 flex lg:flex-col justify-center items-center lg:items-center"
  >
    <h2
      class="font-Josefin text-4xl uppercase text-white font-bold lg:text-5xl lg:mr-8 lg:mb-8"
    >
      indigo
    </h2>
    <span
      class="font-Josefin font-light absolute bottom-0 right-0 mx-4 my-3 text-white text-3xl lg:hidden"
      >Registro</span
    >
    <img
      src="../../../assets/signInSvg.svg"
      class="max-w-md hidden lg:block"
      alt=""
    />
  </div>

  <div
    class="bg-indigoBlack-300 w-full lg:w-1/2 h-full flex flex-col lg:justify-center"
  >
    <router-outlet></router-outlet>
  </div>
</div>
