<div
  class="lg:max-w-sm px-6 flex flex-col font-Josefin animate__animated animate__slideInDown"
>
  <div class="flex flex-col items-start">
    <label for="name" class="text-indigoBlack-800 uppercase font-semibold"
      >Nombre</label
    >
    <div
      class="text-indigoBlack-200 capitalize text-sm px-4 py-3 rounded-full bg-white shadow-lg w-full my-2"
    >
      {{ this.user.name }}
    </div>
  </div>
  <div class="flex flex-col items-start mt-4">
    <label for="name" class="text-indigoBlack-800 uppercase font-semibold"
      >Email</label
    >
    <div
      class="text-indigoBlack-200 text-sm px-4 py-3 rounded-full shadow-lg w-full my-2 bg-white"
    >
      {{ this.user.email }}
    </div>
  </div>
  <div class="flex flex-col items-start mt-4">
    <label for="name" class="text-indigoBlack-800 uppercase font-semibold"
      >Telefono</label
    >
    <div
      class="text-indigoBlack-200 text-sm px-4 py-3 rounded-full shadow-lg w-full my-2 bg-white"
    >
      {{ this.user.phone }}
    </div>
  </div>
  <div class="flex flex-col items-start mt-4">
    <label class="text-indigoBlack-800 uppercase font-semibold" for=""
      >Dirección</label
    >
    <div class="flex w-full">
      <div
        class="text-indigoBlack-200 text-sm px-5 py-3 rounded-full shadow-lg w-1/2 my-2 mr-1 bg-white"
      >
        {{ this.user.province }}
      </div>
      <div
        class="text-indigoBlack-200 text-sm px-5 py-3 rounded-full shadow-lg w-1/2 my-2 ml-1 bg-white"
      >
        {{ this.user.town }}
      </div>
    </div>
    <div
      class="text-indigoBlack-200 text-sm px-5 py-3 rounded-full shadow-lg w-full my-2 bg-white"
    >
      {{ this.user.street + this.user.numberStreet }}
    </div>
  </div>
</div>
