<div class="flex w-full px-4 justify-between py-4 fixed z-50">
  <ion-icon
    (click)="openSidebar()"
    name="menu-outline"
    class="text-4xl text-indigoBlack-900 cursor-pointer"
  ></ion-icon>

  <div class="relative cursor-pointer focus:outline-none">
    <ion-icon #cart name="cart-outline" class="text-4xl text-indigoBlack-900">
    </ion-icon>
    <div
      class="font-Josefin absolute adjustCircle bg-indigoPink-500 rounded-full text-white text-center text-sm font-semibold"
    >
      <span class="text-white">2</span>
    </div>
  </div>

  <div
    #sidebar
    class="left-0 top-0 fixed h-screen w-full md:max-w-sm text-indigoBlack-500 hidden"
  >
    <div
      class="items-start bg-white w-full h-full flex flex-col px-6 sm:px-8 shadow-lg slide-in-left relative"
    >
      <ion-icon
        (click)="closeSidebar()"
        name="arrow-back-outline"
        class="text-2xl absolute left-0 mx-4 my-2 cursor-pointer"
      ></ion-icon>
      <div class="w-full flex justify-center my-4">
        <span
          *ngIf="!this.userLogedIn"
          routerLink="/ingresar"
          class="font-Josefin font-light text-2xl mt-2 cursor-pointer focus:outline-none"
          >Iniciar sesión</span
        >
        <div
          class="w-full flex items-center justify-center"
          *ngIf="this.userLogedIn"
        >
          <ion-icon name="person-circle-outline" class="text-6xl"></ion-icon>
          <div class="flex flex-col items-start mx-2 justify-start">
            <span class="font-Josefin text-indigoBlack-800 text-xl">{{
              userLogedIn.name
            }}</span>
            <small class="font-Josefin text-sm text-indigoBlack-200 -mt-2"
              >1 mes con nosotros</small
            >
          </div>
        </div>
      </div>
      <div class="w-full lineHeight"></div>
      <div class="w-full h-full flex flex-col font-Josefin relative" #menuList>
        <div class="flex items-center mt-5" routerLinkActive="active">
          <ion-icon name="home-outline" class="text-3xl"></ion-icon>
          <span
            class="text-xl ml-4 font-light focus:outline-none cursor-pointer"
            routerLink="/inicio"
            >Inicio</span
          >
        </div>
        <div class="mt-8 flex items-center" routerLinkActive="active">
          <ion-icon name="bag-outline" class="text-3xl"></ion-icon>
          <span
            routerLink="/productos"
            class="text-xl ml-4 font-light focus:outline-none cursor-pointer"
            >Productos</span
          >
        </div>
        <div class="mt-8 flex items-center">
          <ion-icon name="heart-outline" class="text-3xl"></ion-icon>
          <span
            class="text-xl ml-4 font-light focus:outline-none cursor-pointer"
            >Favoritos</span
          >
        </div>
        <div class="mt-8 flex items-center">
          <ion-icon name="call-outline" class="text-3xl"></ion-icon>
          <span
            class="text-xl ml-4 font-light focus:outline-none cursor-pointer"
            >Contacto</span
          >
        </div>
        <div class="mt-8 flex items-center" *ngIf="this.userLogedIn">
          <ion-icon name="settings-outline" class="text-3xl"></ion-icon>
          <span
            class="text-xl ml-4 font-light focus:outline-none cursor-pointer"
            >Configuración</span
          >
        </div>
        <div class="flex mt-8 items-center" *ngIf="this.userLogedIn">
          <ion-icon name="log-out-outline" class="text-3xl"></ion-icon>
          <span
            (click)="logOut()"
            class="font-Josefin font-light text-xl ml-4 cursor-pointer focus:outline-none"
            >Cerrar sesión</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
