@import "../../shared/utilities/stylesUtilities.scss";
@include strokeIcon;
.productImages {
  height: 100vh !important;
}
.productInfo {
  height: 65%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.lineHeight {
  height: 0.1px;
  background-color: black;
}
@media (min-width: 1024px) {
  .productInfo {
    height: auto;
  }
}
.productHeight {
  height: 80%;
}

.selectedSize {
  transition: 0.2s ease-in;
  opacity: 0.2;
}
.changeStroke {
  @include strokeIcon(50px);
}
.checks {
  animation: 0.5s changeHeight;
}
.slide-in-top {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.zoomImg {
  cursor: zoom-in;
}
@keyframes changeHeight {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.zoom {
  transition: 0.5s ease-in;
}
.zoom:hover {
  transform: scale(1.5);
}
