<app-header></app-header>
<div>
  <div #imageContainer class="productImages top-0 w-full relative">
    <img
      src="../../../assets/sampleShoe1.png"
      class="opacity-75 absolute object-cover z-20"
      alt=""
    />
  </div>
  <div
    #productInfo
    class="w-full absolute z-30 bottom-0 productInfo bg-white px-8 font-Josefin"
  >
    <div class="flex flex-col w-full mt-8">
      <div class="w-full flex justify-between px-2">
        <div #info class="flex flex-col">
          <h3 class="text-indigoBlack-400 text-2xl">Zapatillas</h3>
          <span class="text-indigoBlack-200">${{ 2000 }}</span>
        </div>
        <div #icons class="flex flex-col justify-between">
          <ion-icon name="share-social-outline" class="text-xl mb-3"></ion-icon>
          <ion-icon name="heart-outline" class="text-xl"></ion-icon>
        </div>
      </div>
      <div class="w-full lineHeight mt-3 opacity-50"></div>
      <div #availableProduct>
        <div #color class="mt-4 flex justify-between">
          <span class="font-light text-2xl text-indigoBlack-200">Color</span>
          <div class="flex">
            <span class="w-8 mx-2 h-8 bg-yellow-400 rounded-full"></span>
            <span class="w-8 h-8 bg-gray-900 rounded-full"></span>
          </div>
        </div>
        <div #size class="mt-4 flex justify-between">
          <span class="font-light text-2xl text-indigoBlack-200">Talles</span>
          <div class="flex">
            <span
              class="w-10 mx-1 h-10 bg-gray-900 rounded-full text-white flex font-light justify-center items-center"
            >
              39</span
            >
            <span
              class="w-10 mx-1 h-10 bg-gray-900 rounded-full text-white flex font-light justify-center items-center"
            >
              40</span
            >
          </div>
        </div>
      </div>
      <p class="font-light mt-6 text-sm text-indigoBlack-500">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe
        distinctio earum officiis impedit! Odio ducimus quibusdam .
      </p>
      <div class="w-full lineHeight mt-3 opacity-25"></div>
      <span class="text-indigoBlack-500 font-light my-5"
        >Compras y reembolsos</span
      >
      <div class="w-full lineHeight opacity-25"></div>
      <span class="text-indigoBlack-500 font-light my-5"
        >Terminos y condiciones</span
      >
    </div>

    <button
      class="mb-6 w-full bg-indigoBlack-900 text-lg text-white font-light py-5 rounded-md focus:outline-none"
    >
      Añadir al carrito
    </button>
  </div>
</div>
