<app-header></app-header>
<div class="w-screen flex justify-center font-Josefin z-50">
  <div
    #alert
    class="hidden slide-in-top bg-indigoPink-500 absolute flex-col items-center top-0 w-11/12 max-w-lg py-6 rounded-lg z-50 mt-2 justify-center"
  >
    <span class="text-white lg:text-lg font-semibold"
      >¡Producto agregado correctamente al carrito!</span
    >
    <span
      routerLink="/carrito"
      class="underline cursor-pointer text-white font-bold focus:outline-none"
      >Ver aquí</span
    >
  </div>
</div>
<div
  *ngIf="this.product"
  class="lg:flex w-full h-screen justify-center items-center"
>
  <swiper #imageContainer [config]="this.config" class="lg:hidden">
    <div
      *ngFor="let slide of this.product.image"
      class="productImages top-0 relative overflow-hidden"
    >
      <img
        [src]="this.apiUrl + slide"
        class="opacity-75 absolute object-cover z-20 w-screen"
        alt=""
      />
    </div>
  </swiper>
  <div class="items-start flex">
    <div #imagesViewer class="hidden lg:flex">
      <div #imagesPreview class="flex flex-col gap-12">
        <div #container *ngFor="let img of this.product.image; let i = index">
          <img
            (click)="changeCurrentImage(i)"
            class="w-40 opacity-25 cursor-pointer"
            *ngIf="!this.production && this.product.image.length > 0"
            [src]="this.apiUrl + img"
            alt=""
          />
        </div>
      </div>
      <div #selectedImage class="ml-12 overflow-hidden productHeight">
        <img
          class="w-80 zoom object-cover zoomImg"
          *ngIf="!this.production && this.product.image.length > 0"
          [src]="this.currentImage"
          alt=""
        />
      </div>
    </div>
    <div
      #productInfo
      class="lg:mb-24 lg:static lg:bg-transparent lg:max-w-md w-full absolute z-10 bottom-0 productInfo bg-white px-8 font-Josefin lg:mx-8"
    >
      <div class="flex flex-col w-full mt-8 lg:mt-0">
        <div class="w-full flex justify-between px-2">
          <div #info class="flex flex-col">
            <h3 class="text-indigoBlack-400 text-2xl">
              {{ this.product.name }}
            </h3>
            <span class="text-indigoBlack-200">${{ this.product.price }}</span>
          </div>
          <div #icons class="flex flex-col justify-between">
            <ion-icon
              name="share-social-outline"
              class="text-xl mb-3 lg:hidden"
            ></ion-icon>
            <ion-icon
              name="heart-outline"
              class="text-xl lg:text-3xl cursor-pointer"
            ></ion-icon>
          </div>
        </div>
        <div class="w-full lineHeight mt-3 opacity-25"></div>
        <div class="font-Josefin my-4 hidden lg:block">
          <span class="font-light text-indigoBlack-400 text-2xl"
            >Detalles del producto</span
          >
          <p class="text-indigoBlack-400">{{ this.product.description }}</p>
        </div>
        <span
          class="font-Josefin font-light text-indigoBlack-400 hidden lg:block"
          >Selecciona un Color</span
        >
        <div class="w-full lineHeight opacity-25"></div>

        <div #availableProduct>
          <div #color class="mt-4 flex justify-between">
            <span class="font-light text-2xl text-indigoBlack-200 lg:hidden"
              >Color</span
            >
            <div class="flex">
              <div *ngFor="let c of product.color" class="mr-2">
                <div
                  *ngIf="this.c.available"
                  (click)="selectColor($event)"
                  [ngStyle]="{ 'background-color': c.color }"
                  class="h-8 w-8 rounded-full cursor-pointer mb-2 relative flex justify-center items-center text-white changeStroke"
                >
                  <ion-icon
                    *ngIf="this.c.available"
                    name="checkmark-outline"
                    class="absolute checks hidden"
                  ></ion-icon>
                </div>
              </div>
            </div>
          </div>
          <span
            class="font-Josefin font-light text-indigoBlack-400 hidden lg:block"
            >Selecciona un Talle</span
          >
          <div class="w-full lineHeight opacity-25 mb-4 hidden lg:block"></div>
          <div #size class="mt-4 flex justify-between">
            <span class="font-light text-2xl text-indigoBlack-200 lg:hidden"
              >Talles</span
            >
            <div class="flex">
              <div *ngFor="let s of product.sizes">
                <span
                  (click)="selectSize($event)"
                  *ngIf="s.available"
                  class="cursor-pointer w-10 mr-1 h-10 bg-gray-900 rounded-full text-white flex font-light justify-center items-center"
                  >{{ s.size }}</span
                >
              </div>
            </div>
          </div>
        </div>
        <p class="font-light mt-6 text-sm text-indigoBlack-500 lg:hidden">
          {{ this.product.description }}
        </p>

        <div class="w-full lineHeight mt-3 opacity-25 lg:hidden"></div>
        <span class="text-indigoBlack-500 font-light my-5 lg:hidden"
          >Compras y reembolsos</span
        >
        <div class="w-full lineHeight opacity-25 lg:hidden"></div>
        <span class="text-indigoBlack-500 font-light my-5 lg:hidden"
          >Terminos y condiciones</span
        >
      </div>
      <span
        *ngIf="!this.selectedColor || !this.selectedSize"
        class="w-full flex justify-center text-red-400 lg:mt-5"
        >*Por favor selecciona un color y talle*</span
      >
      <button
        [ngClass]="{
          'opacity-25': !this.selectedColor || !this.selectedSize
        }"
        [disabled]="!this.selectedColor || !this.selectedSize"
        (click)="addToCart()"
        class="mb-6 mt-2 w-full bg-indigoBlack-900 text-lg text-white font-light py-5 rounded-md focus:outline-none"
      >
        Añadir al carrito
      </button>
      <div
        class="text-xl hidden lg:flex w-full justify-center items-center text-indigoBlack-1000 font-thin"
      >
        <ion-icon name="share-social-outline"></ion-icon>
        <span class="ml-2 cursor-pointer" ngxClipboard (click)="share()"
          >Compartir</span
        >
      </div>
    </div>
  </div>
</div>
