<app-header></app-header>
<div class="w-screen flex justify-center font-Josefin z-50">
  <div
    #alert
    class="hidden slide-in-top bg-indigoBlack-900 absolute flex-col items-center top-0 w-11/12 max-w-lg py-6 rounded-lg z-50 mt-2 justify-center"
  >
    <span class="text-white text-sm lg:text-lg font-semibold"
      >¡Producto agregado correctamente al carrito!</span
    >
    <span
      routerLink="/carrito"
      class="underline cursor-pointer text-white font-bold focus:outline-none"
      >Ver aquí</span
    >
  </div>
</div>
<div class="lg:flex w-full h-screen justify-center items-center">
  <swiper
    #imageContainer
    [config]="this.config"
    class="lg:hidden"
    *ngIf="this.product"
  >
    <div
      *ngFor="let slide of this.product.images"
      class="productImages top-0 relative overflow-hidden animate__animated animate__zoomIn"
    >
      <img
        [src]="this.apiUrl + slide.image"
        class="opacity-75 absolute object-cover z-20 w-screen"
        alt=""
      />
    </div>
  </swiper>
  <div class="items-start flex">
    <div #imagesViewer class="hidden lg:flex">
      <div #imagesPreview class="flex flex-col gap-12" *ngIf="this.product">
        <div #container *ngFor="let img of this.product.images; let i = index">
          <img
            (click)="changeCurrentImage(i)"
            class="w-40 opacity-25 cursor-pointer"
            *ngIf="!this.production && this.product.images.length > 0"
            [src]="this.apiUrl + img.image"
            alt=""
          />
        </div>
      </div>
      <div
        #selectedImage
        class="ml-12 overflow-hidden productHeight"
        *ngIf="this.product"
      >
        <img
          class="w-80 zoom object-cover zoomImg"
          *ngIf="!this.production && this.product.images.length > 0"
          [src]="this.currentImage"
          alt=""
        />
      </div>
    </div>
    <div
      #productInfo
      class="animate__animated animate__slideInUp lg:mb-24 lg:static lg:bg-transparent lg:max-w-md w-full absolute z-10 bottom-0 productInfo bg-white px-8 font-Josefin lg:mx-8 h-auto"
    >
      <div class="flex flex-col w-full mt-8 lg:mt-0">
        <div class="w-full flex justify-between px-2">
          <div #info class="flex flex-col" *ngIf="this.product">
            <h3 class="text-indigoBlack-400 text-2xl">
              {{ this.product.name }}
            </h3>
            <span class="text-indigoBlack-200">${{ this.product.price }}</span>
          </div>
          <div #icons class="flex flex-col justify-between">
            <ion-icon
              (click)="shareMobile()"
              name="share-social-outline"
              class="text-xl mb-3 lg:hidden"
            ></ion-icon>

            <div
              class="m-favorite cursor-pointer"
              *ngIf="this.userSession"
              #favorite
              (click)="addToFavorites()"
            >
              <div class="m-favorite__icon"></div>

              <span class="m-favorite__smallIcon"></span>
              <span class="m-favorite__smallIcon"></span>
              <span class="m-favorite__smallIcon"></span>
            </div>
          </div>
        </div>
        <div class="w-full lineHeight mt-3 opacity-25"></div>
        <div class="font-Josefin my-4 hidden lg:block">
          <span class="font-light text-indigoBlack-400 text-2xl"
            >Detalles del producto</span
          >
          <p class="text-indigoBlack-400" *ngIf="this.product">
            {{ this.product.description }}
          </p>
        </div>
        <span
          class="font-Josefin font-light text-indigoBlack-400 hidden lg:block"
          >Selecciona un Color</span
        >
        <div class="w-full lineHeight opacity-25"></div>

        <div #availableProduct *ngIf="this.product">
          <div #color class="mt-4 flex justify-between">
            <span class="font-light text-2xl text-indigoBlack-200 lg:hidden"
              >Color</span
            >
            <div class="flex">
              <div *ngFor="let c of product.color" class="mr-2">
                <div
                  *ngIf="this.c.available"
                  (click)="selectColor($event, c)"
                  [ngStyle]="{ 'background-color': c.color }"
                  class="h-8 w-8 rounded-full cursor-pointer mb-2 relative flex justify-center items-center text-white changeStroke"
                >
                  <ion-icon
                    *ngIf="this.c.available"
                    name="checkmark-outline"
                    class="absolute checks hidden"
                  ></ion-icon>
                </div>
              </div>
            </div>
          </div>
          <span
            class="font-Josefin font-light text-indigoBlack-400 hidden lg:block"
            >Selecciona un Talle</span
          >
          <div class="w-full lineHeight mb-4 hidden lg:block opacity-25"></div>
          <div #size class="mt-4 flex justify-between" *ngIf="this.product">
            <span class="font-light text-2xl text-indigoBlack-200 lg:hidden"
              >Talles</span
            >
            <div class="flex" *ngIf="this.sizes.length > 0">
              <div *ngFor="let s of this.sizes">
                <span
                  (click)="selectSize($event)"
                  *ngIf="s.available"
                  class="cursor-pointer w-10 mr-1 h-10 bg-gray-900 rounded-full text-white flex font-light justify-center items-center"
                  >{{ s.size }}</span
                >
              </div>
            </div>
          </div>
        </div>
        <p
          class="font-light mt-6 text-sm text-indigoBlack-500 lg:hidden"
          *ngIf="this.product"
        >
          {{ this.product.description }}
        </p>

        <div class="w-full lineHeight mt-3 lg:hidden opacity-25"></div>
        <span class="text-indigoBlack-500 font-light my-5 lg:hidden"
          >Compras y reembolsos</span
        >
        <div class="w-full lineHeight opacity-25 lg:hidden"></div>
        <span class="text-indigoBlack-500 font-light my-5 lg:hidden"
          >Terminos y condiciones</span
        >
      </div>
      <span
        *ngIf="!this.selectedColor || !this.selectedSize"
        class="w-full flex justify-center text-red-400 lg:mt-5"
        >*Por favor selecciona un color y talle*</span
      >
      <div class="w-full justify-center flex">
        <button
          [ngClass]="{
            'opacity-25': !this.selectedColor || !this.selectedSize
          }"
          [disabled]="!this.selectedColor || !this.selectedSize"
          (click)="addToCart()"
          #addCart
          class="add-to-cart"
        >
          <div class="default">Añadir al carrito</div>
          <div class="success">Añadido</div>
          <div class="cart">
            <div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="dots"></div>
        </button>
      </div>
      <div
        class="text-xl hidden lg:flex w-full justify-center items-center text-indigoBlack-1000 font-thin"
      >
        <ion-icon name="share-social-outline"></ion-icon>
        <span class="ml-2 cursor-pointer" ngxClipboard (click)="share()"
          >Compartir</span
        >
      </div>
    </div>
  </div>
</div>
