@import "../../shared/utilities/stylesUtilities.scss";
@include strokeIcon;
.productImages {
  height: 100vh !important;
}
.productInfo {
  height: 65%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.lineHeight {
  height: 0.1px;
  background-color: black;
}
@media (min-width: 1024px) {
  .productInfo {
    height: auto;
  }
}
.productHeight {
  height: 80%;
}

.selectedSize {
  transition: 0.2s ease-in;
  opacity: 0.2;
}
.changeStroke {
  @include strokeIcon(50px);
}
.checks {
  animation: 0.5s changeHeight;
}
@keyframes changeHeight {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
