<h2
  class="font-Josefin text-3xl text-indigoBlack-900 px-4 mb-4 animate__animated animate__fadeIn animate__delay-1s lg:hidden"
>
  Mis pedidos
</h2>
<div class="w-full flex items-center flex-col font-Josefin">
  <div
    *ngIf="this.orders.length <= 0 && !this.loading"
    class="flex flex-col items-center font-Josefin mt-20"
  >
    <img
      src="../../../../assets/order.svg"
      alt=""
      class="w-1/2 setMaxHeightSvg"
    />
    <span class="text-indigoPink-700 text-lg text-center my-4"
      >¡Al parecer no has comprado ningun producto todavia!</span
    >
  </div>
  <div
    class="w-full flex flex-col items-center"
    *ngFor="let order of orders"
    #orderContainer
  >
    <div
      #orderInfo
      (click)="openedOrder(orderInfo, order, orderContainer, icon)"
      class="z-30 orderShadow w-10/12 flex flex-col items-center cursor-pointer bg-white my-2 px-6 pt-6 rounded-2xl animate__animated animate__slideInDown"
    >
      <div class="flex w-full mb-4 items-start">
        <div class="w-32 relative">
          <img
            class="w-full object-cover rounded-xl borderRightFirst"
            [src]="order.products[0].images[0].image | img"
            alt=""
          />
          <div
            #quantityProducts
            class="absolute top-0 right-0 w-8 rounded-full quantityCircle py-1 text-white text-center"
            *ngIf="order.products.length > 1"
          >
            +{{ this.order.products.length - 1 }}
          </div>
        </div>
        <div
          #info
          class="flex flex-col w-full px-4 justify-center items-center"
        >
          <div class="flex w-full justify-between items-center">
            <span class="text-indigoBlack-100 text-lg">Total</span>
            <span class="text-indigoBlack-100 text-lg">${{ order.price }}</span>
          </div>
          <div class="flex w-full justify-between items-center">
            <span class="text-indigoBlack-100 text-lg">Estado</span>
            <div
              [ngClass]="{
                'bg-indigoBlack-100':
                  order.status.toLowerCase() === 'pendiente',
                'bg-indigoComplementary-100':
                  order.status.toLowerCase() === 'activo',
                'bg-indigoComplementary-300':
                  order.status.toLowerCase() === 'en camino',
                'bg-yellow-500': order.status.toLowerCase() === 'pausado',
                'bg-green-500': order.status.toLowerCase() === 'completado'
              }"
              class="text-xs rounded-full text-white px-4 py-1 uppercase"
            >
              {{ order.status }}
            </div>
          </div>
        </div>
      </div>
      <div class="animate__animated animate__pulse animate__infinite">
        <ion-icon
          #icon
          name="chevron-down-outline"
          class="text-2xl iconDropdown"
        ></ion-icon>
      </div>
    </div>
    <div
      #extraInfo
      class="w-full hidden animate__animated animate__backInDown flex-col items-center animate__fast"
    >
      <div
        *ngFor="let p of order.products"
        class="my-3 w-full flex flex-col items-center"
      >
        <div
          [routerLink]="'/productos/' + p._id"
          class="w-9/12 relative h-20 cursor-pointer"
        >
          <swiper
            [config]="sliderConfig"
            class="absolute z-40 text-white font-Josefin flex items-center justify-center w-full h-20"
          >
            <div class="flex justify-center items-center w-full h-full">
              {{ p.name }}
            </div>
            <div
              class="flex justify-center text-center items-center w-full h-full"
            >
              {{ p.description }}
            </div>
            <div class="flex justify-center items-center w-full h-full">
              ${{ p.price }}
            </div>
          </swiper>
          <div
            class="bg-indigoBlack-900 opacity-75 absolute w-full h-full z-30 rounded-xl"
          ></div>
          <img
            class="object-cover w-full h-20 rounded-xl"
            [src]="p.images[0].image | img"
          />
        </div>
      </div>
      <div class="w-9/12 lineHeight bg-indigoBlack-900"></div>
      <div class="font-Josefin flex flex-col w-9/12 font-light">
        <div class="flex justify-between items-center w-full my-2">
          <span class="text-indigoBlack-400">Metodo de envio</span>
          <span
            class="text-indigoBlack-200"
            *ngIf="order.deliveryMethod !== 'andreani'"
            >Retira en: {{ order.branch_office.localidad }}</span
          >
          <span
            class="text-indigoBlack-200"
            *ngIf="order.deliveryMethod === 'andreani'"
            >Envio a domicilio</span
          >
        </div>
        <div class="flex justify-between items-center w-full my-2">
          <span class="text-indigoBlack-400">A cargo de </span>
          <span class="text-indigoBlack-200 capitalize">{{
            order.user.name
          }}</span>
        </div>
        <div class="flex justify-between items-center w-full my-2">
          <span class="text-indigoBlack-400">Numero de orden</span>
          <span class="text-indigoBlack-200">{{ order.trackingId }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
