<div class="w-screen px-5 lg:px-0 pt-16 flex justify-center">
  <div
    class="
      px-4
      py-4
      bg-indigoBlack-300
      rounded-lg
      font-Josefin
      shadow-md
      flex-col flex
      items-center
    "
  >
    <div class="text-indigoBlack-700 w-11/12 lg:w-8/12 text-center mx-auto">
      Para ofrecerte rapidez y comodidad en lo que necesites, disponemos de
      distintos medios por los que te podes comunicar con nosotros:
    </div>
    <div class="separator"></div>
    <div class="flex flex-col items-center">
      <div class="text-indigoBlack-700">
        <!--TODO Cambiar mail de contacto-->
        E-mail de contacto: indigocalzadostp@gmail.com
      </div>
      <ion-icon name="mail" class="text-3xl"></ion-icon>
    </div>
    <div class="separator"></div>
    <div class="flex flex-col items-center">
      <!--TODO Cambiar numero de contacto-->
      <div>
        <span class="text-indigoBlack-700">Teléfono:</span>
        <span class="text-indigoBlack-400"></span>
      </div>
      <div>
        <span class="text-indigoBlack-700">Horario:</span>
        <span class="text-indigoBlack-400"> Lun a Vie 8 a 23hs</span>
      </div>
      <ion-icon name="call" class="text-3xl mt-2"></ion-icon>
    </div>
    <div class="separator"></div>
    <div class="flex flex-col items-center">
      <!--TODO Cambiar numero de contacto-->
      <span class="text-indigoBlack-700">Nuestras sucursales:</span>
      <span class="text-indigoBlack-400 my-3 text-center">
        San nicolas 427- San Nicolas 674, Pergamino, Buenos Aires 2700</span
      >
      <span class="text-indigoBlack-400 mb-3">
        San Martín 679 - Rodríguez 749, Tandil, Buenos Aires 2000</span
      >
      <ion-icon class="text-3xl" name="map"></ion-icon>
    </div>
  </div>
</div>
<app-footer class="absolute bottom-0 w-screen"></app-footer>
