<div class="w-full animate__animated animate__fadeIn">
  <div class="mt-12 flex w-full justify-between items-center pr-8">
    <div class="flex items-center">
      <ion-icon name="layers" class="text-indigoBlack-800 text-2xl"></ion-icon>
      <span class="text-indigoBlack-800 ml-4 text-2xl">Productos</span>
    </div>
    <div
      (click)="addProduct()"
      class="addInput flex items-center bg-indigoPink-700 text-white px-12 py-4 rounded-full cursor-pointer btnAddShadow"
    >
      <ion-icon name="add-circle" class="pr-4 text-lg opacity-75"></ion-icon>
      <button class="text-lg focus:outline-none">Añadir</button>
    </div>
  </div>
  <div #productsBox class="w-11/12 shadow-md mt-12 mb-6 py-4 relative">
    <div class="flex justify-end w-full items-center px-8">
      <div class="flex items-center font-Josefin my-2 text-indigoBlack-100">
        <div
          (click)="editProducts(editContainer)"
          #editContainer
          class="flex items-center cursor-pointer mx-2"
        >
          <ion-icon name="create"></ion-icon>
          <span class="text-sm mt-1 mx-2">Editar</span>
        </div>
        <div
          (click)="deleteProduct(deleteContainer)"
          #deleteContainer
          class="flex items-center cursor-pointer mx-2"
        >
          <ion-icon name="trash"></ion-icon>
          <span class="text-sm mt-1 mx-2">Eliminar</span>
        </div>
        <div class="flex items-center w-56 cursor-pointer mx-2 py-1 px-4">
          <ion-icon name="search" class="w-1/5"></ion-icon>
          <input
            type="search"
            #searchBar
            class="text-sm mt-1 mx-2 focus:outline-none w-4/5 search searchBorder"
            name="search"
            placeholder="Buscar"
          />
        </div>
      </div>
    </div>
    <div class="w-full lineSeparator mb-2 opacity-25"></div>
    <div #productsContainer class="productsGridLayout px-8 py-4 font-Josefin">
      <ng-container *ngIf="this.filteredProducts.length > 0">
        <div
          *ngFor="let product of filteredProducts"
          #product
          class="relative w-full max-widthProduct cursor-pointer animate__animated animate__infinite"
        >
          <div
            class="hidden absolute w-full h-48 setMaxHeight justify-center items-center"
          >
            <ion-icon
              (click)="hasToEmitAlert(product)"
              name="pencil"
              class="absolute text-4xl z-30 text-indigoBlack-500"
            ></ion-icon>
            <ion-icon
              (click)="removeProduct(product)"
              name="trash-outline"
              class="absolute text-4xl z-30 text-red-500 hidden"
            ></ion-icon>
            <div
              class="bg-white absolute opacity-50 w-full rounded-lg h-full z-20"
            ></div>
          </div>
          <img
            class="w-full object-cover rounded-lg setMaxHeight h-48 z-10"
            [src]="uploadsUrl + '/' + product.images[0].image"
            alt=""
          />
          <div class="flex flex-col my-3">
            <span class="text-indigoBlack-800 text-sm capitalize">{{
              product.name
            }}</span>
            <app-sale-product [product]="product"></app-sale-product>
          </div>
        </div>
      </ng-container>
      <ng-container
        *ngIf="this.products.length > 0 && this.filteredProducts.length <= 0"
      >
        <div
          *ngFor="let product of products"
          #product
          class="relative w-full max-widthProduct cursor-pointer animate__animated animate__infinite"
        >
          <div
            class="hidden absolute w-full h-48 setMaxHeight justify-center items-center"
          >
            <ion-icon
              (click)="hasToEmitAlert(product)"
              name="pencil"
              class="absolute text-4xl z-30 text-indigoBlack-500"
            ></ion-icon>
            <ion-icon
              (click)="removeProduct(product)"
              name="trash-outline"
              class="absolute text-4xl z-30 text-red-500 hidden"
            ></ion-icon>
            <div
              class="bg-white absolute opacity-50 w-full rounded-lg h-full z-20"
            ></div>
          </div>
          <img
            class="w-full object-cover rounded-lg setMaxHeight h-48 z-10"
            [src]="uploadsUrl + '/' + product.images[0].image"
            alt=""
          />
          <div class="flex flex-col my-3">
            <span class="text-indigoBlack-800 text-sm capitalize">{{
              product.name
            }}</span>
            <app-sale-product [product]="product"></app-sale-product>
          </div>
        </div>
      </ng-container>
      <ng-container
        *ngIf="this.products.length <= 0 && this.filteredProducts.length <= 0"
      >
        <div
          *ngFor="let skeleton of skeletonLoader"
          #product
          class="relative w-full max-widthProduct cursor-pointer animate__animated animate__infinite"
        >
          <p-skeleton height="12rem" width="100%"></p-skeleton>

          <div class="flex flex-col my-3">
            <p-skeleton height="1rem" width="50%"></p-skeleton>
            <p-skeleton
              height="1rem"
              width="25%"
              styleClass="my-2"
            ></p-skeleton>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div #pager class="w-11/12 shadow-md mb-6 py-6 relative flex justify-center">
    <div class="flex w-1/4 text-indigoBlack-500 justify-between">
      <ion-icon
        name="chevron-back-circle-outline"
        (click)="prevPage()"
        class="text-3xl cursor-pointer"
      ></ion-icon>
      <div #pages>
        <span
          class="mx-2 cursor-pointer"
          [ngClass]="{ 'text-indigoPink-500': i + 1 === this.currentPage }"
          *ngFor="let p of pagesArrayNumber; let i = index"
        >
          {{ i + 1 }}
        </span>
      </div>
      <ion-icon
        name="chevron-forward-circle-outline"
        (click)="nextPage()"
        class="text-3xl cursor-pointer"
      ></ion-icon>
    </div>
  </div>
</div>
