@import "../../shared/utilities/stylesUtilities.scss";
@include strokeIcon;

$checked-input: #fdd5ea;
$border-img: #fcc6e3;

.bodyBackground {
  background-color: #f3f3f3;
}

.search::placeholder {
  color: #b1b1b1;
}
.filtersContainer {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transition: 1s ease-in-out;
}
.productRound {
  border-radius: 70px;
}
.borderLeft {
  border-left: 30px $border-img solid;
}
.normalizeHeight {
  transition: 0.4s ease-in;
  height: 98%;
}
.defaultRotationArrow {
  transform: rotateZ(0deg);
}
.filtersTextAnimation {
  animation: 1.5s changeOpacity;
}
@keyframes changeOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 1024px) {
  .productRound {
    border-radius: 0px;
  }
  .borderLeft {
    border-left: 0px;
  }
  .filtersContainer {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
.checkboxStyle {
  border: 1px solid #707070;
  opacity: 0.5;
}
.checkboxStyle:checked {
  background-color: #fdd5ea;
  border: 1px solid #fdd5ea;
}
