<app-header></app-header>

<div class="h-72 justify-center items-center hidden md:flex w-full">
  <h1 class="absolute font-Josefin text-6xl font-semibold">Tienda</h1>
  <img
    src="../../../assets/sampleShoe2.png"
    class="w-full h-full object-cover opacity-50"
    alt=""
  />
</div>
<div class="w-full h-full lg:flex justify-center relative">
  <div
    class="w-full lg:max-w-sm flex flex-col lg:pt-0 pt-20 lg:justify-start items-center justify-center lg:mt-4"
  >
    <div
      class="w-11/12 lg:max-w-sm bg-white lg:rounded-none rounded-2xl lg:shadow-md py-4 px-4 flex"
    >
      <ion-icon
        name="search-outline"
        class="text-3xl text-indigoBlack-100"
      ></ion-icon>
      <input
        type="text"
        #searchBar
        class="w-full px-2 text-lg lg:text-sm font-Josefin font-light focus:outline-none text-indigoBlack-100 search"
        placeholder="¿Qué estas buscando?"
      />
    </div>
    <div #filterTags class="w-11/12 lg:max-w-sm flex mt-4"></div>
    <div
      #filters
      id="filtersContainer"
      class="lg:mb-12 w-full z-50 lg:z-40 lg:shadow-md lg:mt-6 lg:max-w-sm lg:w-11/12 bg-white lg:py-4 lg:h-auto h-24 filtersContainer lg:static fixed bottom-0 flex flex-col lg:items-start items-center"
    >
      <ion-icon
        #icon
        (click)="toggleMenu()"
        name="chevron-up-outline"
        class="text-indigoBlack-100 text-4xl mt-2 lg:hidden"
      ></ion-icon>
      <span class="text-2xl font-Josefin text-indigoBlack-100 lg:hidden"
        >Filtrar productos</span
      >
      <span
        class="hidden lg:block text-2xl font-Josefin font-light text-indigoBlack-100 px-4"
        >Filtros</span
      >

      <div
        #filtersTexts
        class="flex-col font-Josefin hidden filtersTextAnimation lg:flex w-4/5 lg:w-full lg:px-8"
      >
        <ng-container *ngIf="this.categories.length > 0">
          <div
            class="my-3 lg:my-1 flex flex-col"
            *ngFor="let category of categories"
          >
            <div
              class="flex items-center text-2xl lg:text-xl text-indigoBlack-500"
            >
              <span>{{ category.name }}</span>
            </div>
            <div
              (click)="
                filterProducts(subcategoryText, category.name, subcategory.name)
              "
              class="w-10/12 ml-16 font-light text-xl lg:text-lg cursor-pointer my-1 text-indigoBlack-200"
              *ngFor="let subcategory of category.subcategories"
            >
              <span #subcategoryText>{{ subcategory.name }}</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div
      #pageSwitcher
      *ngIf="
        this.totalPages &&
        this.currentPage > 0 &&
        this.pagesArrayNumber.length > 0
      "
      class="lg:mb-12 w-full z-50 lg:z-40 lg:shadow-md lg:mt-6 lg:max-w-sm lg:w-11/12 bg-white lg:py-4 lg:h-auto h-24 filtersContainer hidden lg:static bottom-0 lg:flex flex-col lg:items-start"
    >
      <span
        class="hidden lg:block text-2xl font-Josefin font-light text-indigoBlack-100 px-4"
        >Paginas</span
      >
      <div
        class="font-Josefin my-3 items-center hidden filtersTextAnimation lg:flex w-4/5 lg:w-full lg:px-8 text-indigoBlack-500 justify-between"
      >
        <ion-icon
          name="chevron-back-circle-outline"
          (click)="prevPage()"
          class="text-3xl cursor-pointer"
        ></ion-icon>
        <div #pages>
          <span
            class="mx-2 cursor-pointer"
            [ngClass]="{ 'text-indigoPink-500': i + 1 === this.currentPage }"
            *ngFor="let p of pagesArrayNumber; let i = index"
          >
            {{ i + 1 }}
          </span>
        </div>
        <ion-icon
          name="chevron-forward-circle-outline"
          (click)="nextPage()"
          class="text-3xl cursor-pointer"
        ></ion-icon>
      </div>
    </div>
  </div>
  <div
    #skeletonContainer
    *ngIf="this.products.length <= 0"
    class="lg:grid lg:grid-cols-3 xl:grid-cols-4 w-full lg:w-1/2 items-center flex flex-col relative mt-4 mb-24 lg:mt-0 lg:mx-8"
  >
    <ng-container>
      <div
        class="lg:w-40 w-10/12 lg:h-40 lg:mb-16 h-72 my-4 z-30 lg:flex lg:flex-col font-Josefin mx-4"
        *ngFor="let skeleton of skeletonLoader"
      >
        <p-skeleton
          class="hidden lg:block"
          width="10rem"
          height="10rem"
        ></p-skeleton>
        <div class="lg:hidden lg:h-40 h-72 lg:w-40 w-10/12">
          <p-skeleton
            width="100%"
            height="100%"
            borderRadius="70px"
          ></p-skeleton>
        </div>
        <div class="hidden lg:block mt-2 lg:h-4">
          <p-skeleton width="100%" height="100%"></p-skeleton>
        </div>
        <div class="hidden lg:block mt-2 lg:h-4">
          <p-skeleton width="80%" height="100%"></p-skeleton>
        </div>
      </div>
    </ng-container>
  </div>
  <div
    #productsContainer
    *ngIf="this.products.length > 0"
    infiniteScroll
    class="lg:grid lg:grid-cols-3 xl:grid-cols-4 w-full lg:w-1/2 lg:items-start items-center flex flex-col relative mt-4 mb-24 lg:mt-0 lg:mx-8"
  >
    <ng-container
      *ngIf="this.filteredProducts.length <= 0 && currentFilter === undefined"
    >
      <div
        class="lg:w-40 w-10/12 lg:h-40 h-72 my-4 lg:mb-16 z-30 lg:flex lg:flex-col font-Josefin mx-4"
        *ngFor="let p of products"
      >
        <img
          *ngIf="p.images.length > 0"
          [routerLink]="'/productos/' + p._id"
          [src]="p.images[0].image | img"
          class="h-full object-cover productRound borderLeft cursor-pointer w-full focus:outline-none"
        />
        <div class="hidden lg:flex flex-col">
          <span class="mt-2 uppercase font-light text-indigoBlack-100">{{
            p.name
          }}</span>
          <app-sale-product class="lg:flex" [product]="p"></app-sale-product>
        </div>
      </div>
    </ng-container>

    <ng-container
      class="w-full relative"
      *ngIf="this.filteredProducts.length > 0 || this.currentFilter"
    >
      <div
        *ngIf="this.filteredProducts.length === 0"
        class="w-full mt-4 justify-center items-center flex flex-col absolute font-Josefin"
      >
        <img
          class="w-2/3 lg:w-1/4"
          src="../../../assets/no-filter.svg"
          alt=""
        />
        <span class="font-normal mt-3 text-indigoBlack-500"
          >No se encontraron los productos</span
        >
      </div>

      <div
        class="lg:w-40 w-10/12 lg:h-40 h-72 my-4 lg:mb-16 z-30 lg:flex lg:flex-col font-Josefin mx-4"
        *ngFor="let p of filteredProducts"
      >
        <img
          *ngIf="this.p.images.length > 0"
          [routerLink]="'/productos/' + p._id"
          [src]="p.images[0].image | img"
          class="h-full object-cover productRound borderLeft cursor-pointer w-full focus:outline-none"
        />
        <div class="hidden lg:flex flex-col">
          <span class="mt-2 uppercase font-light text-indigoBlack-100">{{
            p.name
          }}</span>
          <app-sale-product class="lg:flex" [product]="p"></app-sale-product>
        </div>
      </div>
    </ng-container>
    <div class="lg:hidden">
      <div [ngClass]="{ hidden: !this.loadNewData }" class="loader w-20"></div>
    </div>
  </div>
</div>
