.gradientBackground {
  background: transparent linear-gradient(0deg, #fbb6db 0%, #f086a3 100%)
    no-repeat padding-box;
}

input::placeholder {
  color: #d2d2d2;
}
.wrong-input {
  box-shadow: 0 0 5px 1px rgba(211, 32, 56, 0.7);
}
