<div
  class="items-start bg-white w-full h-full flex flex-col px-6 sm:px-8 shadow-lg slide-in-left"
>
  <span class="font-Josefin font-light text-2xl my-4">Iniciar sesión</span>
  <div class="w-full lineHeight"></div>
  <div class="w-full flex flex-col font-Josefin" #menuList>
    <div class="flex items-center mt-5" routerLinkActive="active">
      <ion-icon name="home-outline" class="text-3xl"></ion-icon>
      <span class="text-xl ml-4 font-light" routerLink="home">Inicio</span>
    </div>
    <div class="mt-8 flex items-center">
      <ion-icon name="bag-outline" class="text-3xl"></ion-icon>
      <span class="text-xl ml-4 font-light">Productos</span>
    </div>
    <div class="mt-8 flex items-center">
      <ion-icon name="heart-outline" class="text-3xl"></ion-icon>
      <span class="text-xl ml-4 font-light">Favoritos</span>
    </div>
    <div class="mt-8 flex items-center">
      <ion-icon name="wallet-outline" class="text-3xl"></ion-icon>
      <span class="text-xl ml-4 font-light">Mis pedidos</span>
    </div>
    <div class="mt-8 flex items-center">
      <ion-icon name="settings-outline" class="text-3xl"></ion-icon>
      <span class="text-xl ml-4 font-light">Configuración</span>
    </div>
  </div>
</div>
