<!-- [ngClass]="{ hidden: }" -->
<div
  *ngIf="this.hasToShowAlert"
  class="w-screen h-screen absolute adjustZIndex font-Josefin"
>
  <div class="mt-8 w-screen absolute textIndex text-white flex justify-center">
    <div class="w-10/12 bg-white rounded-lg animate__animated animate__zoomIn">
      <div
        class="w-full bg-indigoPink-500 headerModule font-bold text-xl items-center uppercase h-12 flex justify-center"
      >
        Editar producto
      </div>
      <div #editContainer class="px-12">
        <div #nameProduct class="flex flex-col w-5/12 my-4">
          <h3 class="text-indigoBlack-500 text-xl capitalize">titulo</h3>
          <div class="w-full lineHeight bg-indigoBlack-500 opacity-25"></div>
          <input
            [placeholder]="this.actualProduct.name"
            type="text"
            class="py-5 my-4 w-full boxShadowInputs bg-white rounded-2xl px-4 focus:outline-none text-indigoBlack-200"
          />
        </div>
        <div #colorProduct class="flex flex-col w-5/12 my-4 font-Josefin">
          <div class="w-full flex justify-between items-center">
            <h3 class="text-indigoBlack-500 text-xl capitalize">colores</h3>
            <span
              (click)="editColors(editText.textContent)"
              #editText
              class="font-light text-indigoBlack-200 cursor-pointer"
              >editar</span
            >
          </div>
          <div class="w-full lineHeight bg-indigoBlack-500 opacity-25"></div>
          <div class="w-full flex my-4">
            <div *ngFor="let c of actualProduct.color" class="mr-2">
              <div
                *ngIf="this.c.available"
                (click)="colorSelected($event, c)"
                [ngStyle]="{ 'background-color': c.color }"
                class="h-8 borderToProductColors w-8 rounded-full cursor-pointer mb-2 relative flex justify-center items-center text-white changeStroke"
              >
                <ion-icon
                  *ngIf="this.c.available"
                  name="checkmark-outline"
                  class="absolute checks hidden cursor-pointer"
                ></ion-icon>
                <ion-icon
                  #deleteColors
                  (click)="deleteColor(c)"
                  class="absolute z-50 w-full h-full hidden cursor-pointer"
                  name="close"
                ></ion-icon>
              </div>
            </div>
            <div *ngFor="let c of addedColors" class="mr-2">
              <div
                *ngIf="this.c.available"
                (click)="colorSelected($event, c)"
                [ngStyle]="{ 'background-color': c.color }"
                class="h-8 borderToProductColors w-8 rounded-full cursor-pointer mb-2 relative flex justify-center items-center text-white changeStroke"
              >
                <ion-icon
                  *ngIf="this.c.available"
                  name="checkmark-outline"
                  class="absolute checks hidden cursor-pointer"
                ></ion-icon>
                <ion-icon
                  #deleteColors
                  (click)="deleteColor(c)"
                  class="absolute z-50 w-full h-full hidden cursor-pointer"
                  name="close"
                ></ion-icon>
              </div>
            </div>
            <input
              #colorPicker
              [cpOKButton]="true"
              [(cpToggle)]="shouldOpenModal"
              [cpOKButtonClass]="
                'px-2 py-1 bg-indigoPink-500 cursor-pointer text-white focus:outline-none'
              "
              (colorPickerSelect)="colorChanged($event)"
              class="borderToProductColors h-8 w-8 rounded-full hidden cursor-pointer focus:outline-none"
              [(colorPicker)]="color"
              [style.background]="color"
            />
            <ion-icon
              (click)="addColorPicker()"
              #addColors
              name="add-circle"
              class="text-indigoBlack-800 opacity-25 text-4xl cursor-pointer"
            ></ion-icon>
          </div>
        </div>
        <div #sizeProduct class="flex flex-col w-5/12 my-4 font-Josefin">
          <div class="w-full flex justify-between items-center">
            <h3 class="text-indigoBlack-500 text-xl capitalize">talles</h3>
            <span class="font-light text-indigoBlack-200 cursor-pointer"
              >editar</span
            >
          </div>
          <div class="w-full lineHeight bg-indigoBlack-500 opacity-25"></div>
          <div class="flex items-center" *ngIf="this.sizes.length > 0">
            <div *ngFor="let s of this.sizes" class="my-4">
              <span
                (click)="selectSize($event)"
                *ngIf="s.available"
                class="cursor-pointer w-10 mr-1 h-10 bg-indigoBlack-800 rounded-full font-medium text-white flex text-lg justify-center items-center"
                >{{ s.size }}</span
              >
            </div>
            <ion-icon
              *ngIf="this.sizes.length > 0"
              name="add-circle"
              class="text-indigoBlack-800 opacity-25 text-5xl cursor-pointer"
            ></ion-icon>
          </div>
        </div>
        <div #descriptionProduct class="flex flex-col w-5/12 my-4 font-Josefin">
          <div class="w-full flex justify-between items-center">
            <h3 class="text-indigoBlack-500 text-xl capitalize">Descripción</h3>
            <span class="font-light text-indigoBlack-200 cursor-pointer"
              >editar</span
            >
          </div>
          <div class="w-full lineHeight bg-indigoBlack-500 opacity-25"></div>
          <!--TODO add textarea-->
        </div>
      </div>
    </div>
  </div>
  <div
    class="w-screen h-screen bgIndex bg-indigoBlack-900 opacity-75 absolute"
  ></div>
</div>
<div class="w-screen font-Josefin flex">
  <div #navPanel class="w-2/6 h-screen flex flex-col relative">
    <h2 class="text-indigoBlack-400 text-5xl uppercase ml-20 mt-20">indigo</h2>
    <div
      routerLink="inicio"
      (click)="transitionRouter(homeTransition)"
      class="flex items-center mt-24 cursor-pointer relative focus:outline-none"
    >
      <div
        #homeTransition
        id="homeTransition"
        class="adjustWidth hidden bg-indigoPink-400 h-16 fixBordersActive absolute left-0 animate__animated animate__fadeInLeft pinkDiv"
      ></div>
      <ion-icon
        #homeIcon
        routerLinkActive="active"
        name="home"
        class="text-4xl text-indigoBlack-800 ml-20"
      ></ion-icon>
      <span
        routerLinkActive="active"
        class="font-normal text-indigoBlack-800 mx-8"
        >Panel principal</span
      >
    </div>
    <div
      (click)="transitionRouter(productsTransition)"
      routerLink="productos"
      class="flex items-center mt-16 cursor-pointer relative focus:outline-none"
    >
      <div
        #productsTransition
        id="productsTransition"
        class="adjustWidth hidden bg-indigoPink-400 h-16 fixBordersActive absolute left-0 animate__animated animate__fadeInLeft"
      ></div>
      <ion-icon
        #productsIcon
        routerLinkActive="active"
        name="pricetags"
        class="text-4xl text-indigoBlack-800 ml-20"
      ></ion-icon>
      <span
        routerLinkActive="active"
        class="font-normal text-indigoBlack-800 mx-8"
        >Productos</span
      >
    </div>
    <div
      (click)="transitionRouter(ordersTransition)"
      routerLink="ordenes"
      class="flex items-center mt-16 cursor-pointer focus:outline-none"
    >
      <div
        #ordersTransition
        id="ordersTransition"
        class="adjustWidth hidden bg-indigoPink-400 h-16 fixBordersActive absolute left-0 animate__animated animate__fadeInLeft"
      ></div>
      <ion-icon
        #ordersIcon
        routerLinkActive="active"
        name="cart-outline"
        class="text-4xl text-indigoBlack-800 ml-20"
      ></ion-icon>
      <span
        routerLinkActive="active"
        class="font-normal text-indigoBlack-800 mx-8"
        >Pedidos</span
      >
    </div>
    <div class="flex items-center mt-16 cursor-pointer">
      <ion-icon
        name="people-outline"
        class="text-4xl text-indigoBlack-800 ml-20"
      ></ion-icon>
      <span class="font-normal text-indigoBlack-800 mx-8">Clientes</span>
    </div>
    <div
      routerLink="/inicio"
      class="absolute mb-12 flex items-center bottom-0 focus:outline-none cursor-pointer"
    >
      <ion-icon
        name="log-out-outline"
        class="text-4xl text-indigoBlack-800 rotateLogOutIcon ml-20"
      ></ion-icon>
      <span class="font-normal text-indigoBlack-800 mx-8"
        >Volver a la pagina</span
      >
    </div>
  </div>
  <div class="w-4/6">
    <router-outlet (activate)="componentInitialized($event)"></router-outlet>
  </div>
</div>
