$salePriceColor: #f086a3;
.rotateLogOutIcon {
  transform: rotate(-180deg);
}
.fixBordersActive {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.active {
  color: #fcc6e3;
}
.adjustWidth {
  width: 9rem;
}
