<p-dialog
  *ngIf="this.selectedSlide"
  header="Editar diapositiva"
  [style]="{ width: '80vw' }"
  [(visible)]="isEditSlideOpen"
  [modal]="true"
  closable="false"
  [draggable]="false"
  class="px-8 py-3 font-Josefin"
  position="top"
>
  <form [formGroup]="editSlideForm" class="w-full h-full flex justify-center">
    <div class="flex flex-col my-5 w-5/12">
      <div class="flex flex-col w-full mb-6">
        <div
          [ngClass]="{
            'p-invalid':
              this.editSlideForm.get('title').invalid &&
              this.editSlideForm.get('title').dirty
          }"
          class="p-float-label w-full"
        >
          <input
            id="float-input"
            type="text"
            formControlName="title"
            pInputText
            class="w-full"
          />
          <label for="float-input" class="w-full">Titulo</label>
        </div>
        <small
          *ngIf="
            this.editSlideForm.get('title').invalid &&
            this.editSlideForm.get('title').dirty
          "
          class="p-invalid"
          >¡El titulo no es valido!</small
        >
      </div>
      <div class="flex flex-col w-full mb-6">
        <div class="p-float-label w-full">
          <input
            [ngClass]="{
              'p-invalid':
                this.editSlideForm.get('button').invalid &&
                this.editSlideForm.get('button').dirty
            }"
            id="float-input"
            formControlName="button"
            type="text"
            pInputText
            class="w-full"
          />
          <label for="float-input" class="w-full">Texto del botón</label>
        </div>
        <small
          *ngIf="
            this.editSlideForm.get('button').invalid &&
            this.editSlideForm.get('button').dirty
          "
          class="p-invalid"
          >¡El botón no es valido!</small
        >
      </div>

      <div class="w-full mb-6 flex items-center">
        <label for="float-input" class="colorLabel mr-3"
          >Color del botón:</label
        >
        <input
          [cpOKButton]="true"
          [cpOKButtonClass]="
            'px-2 py-1 bg-indigoPink-500 cursor-pointer text-white focus:outline-none'
          "
          class="borderToProductColors h-6 w-6 rounded-full cursor-pointer focus:outline-none"
          [(colorPicker)]="editColorBtn"
          [style.background]="editColorBtn"
        />
      </div>
      <div class="w-full mb-6 flex items-center">
        <label for="float-input" class="colorLabel mr-3"
          >Color de las palabras:</label
        >
        <input
          [cpOKButton]="true"
          [cpOKButtonClass]="
            'px-2 py-1 bg-indigoPink-500 cursor-pointer text-white focus:outline-none'
          "
          class="borderToProductColors h-6 w-6 rounded-full cursor-pointer focus:outline-none"
          [(colorPicker)]="editColorTexts"
          [style.background]="editColorTexts"
        />
      </div>
      <div class="flex flex-col w-full mb-6 mt-2">
        <div class="p-float-label w-full">
          <textarea
            [ngClass]="{
              'p-invalid':
                this.editSlideForm.get('description').invalid &&
                this.editSlideForm.get('description').dirty
            }"
            formControlName="description"
            id="float-input"
            type="text"
            pInputTextarea
            class="w-full h-32"
          ></textarea>
          <label for="float-input" class="w-full">Descripción</label>
        </div>
        <small
          *ngIf="
            this.editSlideForm.get('description').invalid &&
            this.editSlideForm.get('description').dirty
          "
          class="p-invalid"
          >¡La descripción no es valida!</small
        >
      </div>
    </div>
    <div class="flex flex-col w-1/2 mx-4">
      <div class="w-full mb-6 flex flex-col">
        <h3 class="colorLabel my-3">Redirección del botón</h3>
        <p-dropdown
          appendTo="body"
          [placeholder]="selectedSlide.btnDirection"
          [options]="availableRoutes"
          formControlName="selectedRoute"
          optionLabel="name"
          autoWidth="false"
          [style]="{ width: '100%' }"
        ></p-dropdown>
      </div>
      <div class="w-full mb-6 flex flex-col font-Josefin">
        <p-fileUpload
          (onSelect)="fileCharged($event, true)"
          chooseLabel="Elegir imagen"
          [showUploadButton]="false"
          cancelLabel="Cancelar"
          accept="image/*"
          [url]="uploadsUrl + '/'"
          class="w-full"
        >
        </p-fileUpload>
        <span class="colorLabel mt-3 mb-2">Imagen actual de diapositiva</span>
        <img
          class="w-40 rounded-lg"
          [src]="uploadsUrl + '/' + selectedSlide.images[0].image"
          alt=""
        />
      </div>
    </div>
  </form>
  <p-footer>
    <div class="flex items-center w-full justify-end">
      <button
        pButton
        label="cancelar"
        (click)="reloadView()"
        icon="pi pi-times"
        class="p-button-outlined p-button-secondary"
        iconPos="left"
      ></button>
      <button
        [disabled]="
          !this.editSlideForm.dirty && this.selectedFile === undefined
        "
        (click)="saveChangesSlide()"
        pButton
        label="Guardar"
        icon="pi pi-save"
        iconPos="left"
      ></button>
    </div>
  </p-footer>
</p-dialog>
<p-dialog
  header="Añadir diapositiva"
  [style]="{ width: '80vw' }"
  [(visible)]="display"
  [modal]="true"
  closable="false"
  [draggable]="false"
  class="px-8 py-3 font-Josefin"
  position="top"
>
  <form [formGroup]="createSlideForm" class="w-full h-full flex justify-center">
    <div class="flex flex-col my-5 w-5/12">
      <div class="flex flex-col w-full mb-6">
        <div
          [ngClass]="{
            'p-invalid':
              this.createSlideForm.get('title').invalid &&
              this.createSlideForm.get('title').dirty
          }"
          class="p-float-label w-full"
        >
          <input
            id="float-input"
            type="text"
            formControlName="title"
            pInputText
            class="w-full"
          />
          <label for="float-input" class="w-full">Titulo</label>
        </div>
        <small
          *ngIf="
            this.createSlideForm.get('title').invalid &&
            this.createSlideForm.get('title').dirty
          "
          class="p-invalid"
          >¡El titulo no es valido!</small
        >
      </div>
      <div class="flex flex-col w-full mb-6">
        <div class="p-float-label w-full">
          <input
            [ngClass]="{
              'p-invalid':
                this.createSlideForm.get('button').invalid &&
                this.createSlideForm.get('button').dirty
            }"
            id="float-input"
            formControlName="button"
            type="text"
            pInputText
            class="w-full"
          />
          <label for="float-input" class="w-full">Texto del botón</label>
        </div>
        <small
          *ngIf="
            this.createSlideForm.get('button').invalid &&
            this.createSlideForm.get('button').dirty
          "
          class="p-invalid"
          >¡El botón no es valido!</small
        >
      </div>

      <div class="w-full mb-6 flex items-center">
        <label for="float-input" class="colorLabel mr-3"
          >Color del botón:</label
        >
        <input
          #colorPicker
          [cpOKButton]="true"
          [cpOKButtonClass]="
            'px-2 py-1 bg-indigoPink-500 cursor-pointer text-white focus:outline-none'
          "
          class="borderToProductColors h-6 w-6 rounded-full cursor-pointer focus:outline-none"
          [(colorPicker)]="colorBtn"
          [style.background]="colorBtn"
        />
      </div>
      <div class="w-full mb-6 flex items-center">
        <label for="float-input" class="colorLabel mr-3"
          >Color de las palabras:</label
        >
        <input
          #colorPicker
          [cpOKButton]="true"
          [cpOKButtonClass]="
            'px-2 py-1 bg-indigoPink-500 cursor-pointer text-white focus:outline-none'
          "
          class="borderToProductColors h-6 w-6 rounded-full cursor-pointer focus:outline-none"
          [(colorPicker)]="colorTexts"
          [style.background]="colorTexts"
        />
      </div>
      <div class="flex flex-col w-full mb-6 mt-2">
        <div class="p-float-label w-full">
          <textarea
            [ngClass]="{
              'p-invalid':
                this.createSlideForm.get('description').invalid &&
                this.createSlideForm.get('description').dirty
            }"
            formControlName="description"
            id="float-input"
            type="text"
            pInputTextarea
            class="w-full h-32"
          ></textarea>
          <label for="float-input" class="w-full">Descripción</label>
        </div>
        <small
          *ngIf="
            this.createSlideForm.get('description').invalid &&
            this.createSlideForm.get('description').dirty
          "
          class="p-invalid"
          >¡La descripción no es valida!</small
        >
      </div>
    </div>
    <div class="flex flex-col w-1/2 mx-4">
      <div class="w-full mb-6 flex flex-col">
        <h3 class="colorLabel my-3">Redirección del botón</h3>
        <p-dropdown
          appendTo="body"
          placeholder="Elegir redirección"
          [options]="availableRoutes"
          formControlName="selectedRoute"
          optionLabel="name"
          autoWidth="false"
          [style]="{ width: '100%' }"
        ></p-dropdown>
      </div>
      <div class="w-full mb-6 flex items-center">
        <p-fileUpload
          (onSelect)="fileCharged($event)"
          chooseLabel="Elegir imagen"
          [showUploadButton]="false"
          cancelLabel="Cancelar"
          accept="image/*"
          [url]="uploadsUrl + '/'"
          class="w-full"
        >
        </p-fileUpload>
      </div>
    </div>
  </form>
  <p-footer>
    <div class="flex items-center w-full justify-end">
      <button
        pButton
        label="cancelar"
        (click)="reloadView()"
        icon="pi pi-times"
        class="p-button-outlined p-button-secondary"
        iconPos="left"
      ></button>
      <button
        [disabled]="
          this.createSlideForm.invalid || this.selectedFile === undefined
        "
        (click)="addSlide()"
        pButton
        label="Guardar"
        icon="pi pi-save"
        iconPos="left"
      ></button>
    </div>
  </p-footer>
</p-dialog>

<div class="mt-12 flex w-full justify-between items-center pr-8">
  <div class="flex items-center">
    <ion-icon name="eye" class="text-indigoBlack-800 text-2xl"></ion-icon>
    <span class="text-indigoBlack-800 ml-4 text-2xl">Vista general</span>
  </div>
  <p-dropdown
    class="mx-8"
    (onChange)="inputHasChanged()"
    [options]="dates"
    placeholder="Elegir fecha"
    [showClear]="true"
    [(ngModel)]="selectedDate"
    optionLabel="name"
  ></p-dropdown>
</div>
<div class="w-full flex font-Josefin mx-6 layoutCards">
  <div
    #card
    class="bg-white shadow-md mt-12 px-6 py-6 flex rounded-xl"
    *ngFor="let card of cards"
  >
    <div class="flex flex-col w-4/6">
      <h3 class="text-3xl font-bold">{{ card.data }}</h3>
      <span class="text-indigoBlack-400 text-sm">{{ card.text }}</span>
    </div>
    <div
      class="relative flex flex-col h-full w-2/6 items-center justify-center"
    >
      <div
        [style]="{ 'background-color': card.color }"
        class="py-10 px-4 absolute z-10 opacity-25 w-full h-full rounded-full"
      ></div>
      <ion-icon
        [style]="{ color: card.color }"
        [name]="card.icon"
        class="text-3xl"
      ></ion-icon>
    </div>
  </div>
</div>
<div class="w-full mx-4 mt-8 flex">
  <div class="w-4/12">
    <div class="flex items-center">
      <ion-icon name="cube" class="text-indigoBlack-800 text-2xl"></ion-icon>
      <span class="text-indigoBlack-800 ml-4 text-2xl">Servicios</span>
    </div>
    <div class="flex flex-col font-Josefin">
      <div
        class="w-full flex py-2 items-center rounded-lg bg-indigoPink-700 mt-4 cursor-pointer"
      >
        <div id="delivery" class="w-20 mx-4"></div>
        <span class="text-white text-xl">Envios</span>
      </div>
      <div
        class="w-full flex items-center rounded-lg py-2 transactionAmount mt-4 cursor-pointer"
      >
        <div id="wallet" class="w-20 mx-4"></div>
        <span class="text-white text-xl">Transacciones</span>
      </div>
      <div
        class="w-full flex items-center rounded-lg py-2 dataAmount mt-4 cursor-pointer"
      >
        <div id="analytics" class="w-16 mx-6"></div>
        <span class="text-white text-xl">Datos extras</span>
      </div>
    </div>
  </div>
  <div class="w-3/5 flex flex-col">
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <ion-icon
          name="albums"
          class="text-indigoBlack-800 text-2xl"
        ></ion-icon>
        <span class="text-indigoBlack-800 ml-4 text-2xl"
          >Diapositivas inicio</span
        >
      </div>
      <button
        (click)="showDialog()"
        pButton
        type="button"
        icon="pi pi-plus"
        class="p-button-outlined p-button-raised p-button-rounded"
      ></button>
    </div>
    <div class="flex mt-4" *ngIf="this.slides.length <= 0" #skeletonSliders>
      <div *ngFor="let s of skeleton" class="ml-8 flex flex-col">
        <p-skeleton height="4rem" width="11rem"></p-skeleton>
        <p-skeleton height="1rem" width="8rem" class="my-3"></p-skeleton>
        <p-skeleton height="13rem" width="11rem"></p-skeleton>
      </div>
    </div>

    <p-carousel
      [value]="slides"
      [numVisible]="3"
      [numScroll]="1"
      *ngIf="this.slides.length > 0"
    >
      <ng-template let-slide pTemplate="item">
        <div class="shadow rounded-xl m-1 font-Josefin relative">
          <img
            [src]="uploadsUrl + '/' + slide.images[0].image"
            class="w-full object-cover h-16 border-img"
          />
          <div class="px-4 py-4">
            <span class="text-sm font-semibold text-indigoBlack-500">{{
              slide.title
            }}</span>
            <p class="font-light text-sm">{{ slide.description }}</p>
            <div class="flex my-2">
              <span class="font-semibold text-indigoBlack-500">Color:</span>
              <div
                [ngStyle]="{
                  'background-color': slide.color
                }"
                class="h-6 fade-in mx-2 borderToProductColors w-6 rounded-full cursor-pointer mb-2 relative flex justify-center items-center text-white changeStroke"
              ></div>
            </div>
          </div>
          <button
            (click)="editSlide(slide)"
            class="bg-blue-500 borderCardEdit focus:outline-none text-white py-3 w-full flex justify-center"
          >
            Editar
          </button>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
<div class="w-full">
  <div class="flex items-center">
    <ion-icon
      name="apps-outline"
      class="text-indigoBlack-800 text-2xl"
    ></ion-icon>
    <span class="text-indigoBlack-800 ml-4 text-2xl"
      >Productos en pantalla de inicio</span
    >
  </div>
  <p-virtualScroller [value]="products" scrollHeight="500px" [itemSize]="150">
    <p-header>Lista de productos</p-header>
    <ng-template pTemplate="item" let-product>
      <div class="w-full flex my-4 font-Josefin">
        <div class="w-40 h-32 mx-4">
          <img
            [src]="uploadsUrl + '/' + product.images[0].image"
            class="w-full object-cover h-full shadow-sm"
            alt=""
          />
        </div>
        <div class="w-full flex justify-between mr-16">
          <div class="flex flex-col">
            <span class="text-lg text-indigoBlack-800 font-semibold">
              {{ product.name }}</span
            >
            <p class="font-light">{{ product.description }}</p>
          </div>
          <div class="text-lg">{{ product.price | currency }}</div>
        </div>
      </div>
    </ng-template>
  </p-virtualScroller>
</div>
