<app-header></app-header>
<div class="w-full py-10">
  <div
    #productsContainer
    class="w-full h-full flex flex-col items-center justify-center mt-12"
  >
    <div
      *ngFor="let product of products"
      class="w-11/12 bg-white flex shadow-md rounded-3xl my-6"
    >
      <img
        [src]="uploadsUrl + product.image[0]"
        class="w-3/12 imgRounded imgMaxHeight object-cover"
        alt=""
      />
      <div class="w-3/4 font-Josefin">
        <div class="w-full flex justify-between px-3 text-lg mt-3">
          <span class="text-indigoBlack-500">{{ product.name }}</span>
          <ion-icon name="heart-outline"></ion-icon>
        </div>
        <span class="text-indigoBlack-500 px-3 text-sm font-light">{{
          product.description
        }}</span>
        <div class="px-3 mt-8 text-xs mb-3 flex">
          <div
            class="mr-2 w-16 px-3 py-1 priceBg rounded-full text-white flex justify-center"
          >
            ${{ product.price }}
          </div>
          <div
            class="w-12 mr-2 px-3 py-1 sizeBg rounded-full text-white flex justify-center"
          >
            ${{ product.sizes }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
