@import "../../shared/utilities/stylesUtilities.scss";
@include strokeIcon;
$price-bg: #f086a3;
$size-bg: #b6dbfb;
.imgRounded {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.imgMaxHeight {
  max-height: 150px;
}
.priceBg {
  background-color: $price-bg;
}
.sizeBg {
  background-color: $size-bg;
}
.priceContainer {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.lineHeight {
  height: 0.1px;
  background-color: black;
}
@media (min-width: 1024px) {
  .priceContainer {
    border-radius: 20px;
  }
}
.infoPriceHeight {
  max-height: 300px;
}
