@import "../../shared/utilities/stylesUtilities.scss";
@include strokeIcon;

.priceContainer {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.lineHeight {
  height: 0.1px;
  background-color: black;
}
@media (min-width: 1024px) {
  .priceContainer {
    border-radius: 20px;
  }
}
.infoPriceHeight {
  max-height: 300px;
}
.dataFont {
  font-size: 25px;
}
.adjustZIndex {
  z-index: 100 !important;
}
