<h2
  class="font-Josefin text-3xl text-indigoBlack-900 px-4 mb-4 animate__animated animate__fadeIn animate__delay-1s lg:hidden"
>
  Configuración
</h2>
<div
  class="w-full flex flex-col items-center font-Josefin animate__animated animate__slideInDown"
>
  <div class="w-11/12">
    <div class="w-full my-4 cursor-pointer">
      <div class="lineHeight w-full mb-8"></div>
      <div
        class="w-full flex mb-8 items-center justify-start focus:outline-none"
        routerLink="/contacto/terminos-condiciones"
      >
        <ion-icon
          name="people"
          class="text-indigoBlack-100 mx-4 text-lg"
        ></ion-icon>
        <span class="text-indigoBlack-100 mt-1">Términos y condiciones</span>
      </div>
    </div>
    <div class="w-full my-4 cursor-pointer">
      <div class="lineHeight w-full mb-8"></div>
      <div
        class="w-full flex mb-8 items-center justify-start focus:outline-none"
        routerLink="/contacto/privacidad"
      >
        <ion-icon
          name="eye"
          class="text-indigoBlack-100 mx-4 text-lg"
        ></ion-icon>
        <span class="text-indigoBlack-100 mt-1">Politicas de privacidad</span>
      </div>
    </div>
    <div class="w-full my-4 cursor-pointer">
      <div class="lineHeight w-full mb-8"></div>
      <div class="w-full flex mb-8 items-center justify-start">
        <ion-icon
          name="log-out"
          class="text-indigoBlack-100 mx-4 text-lg"
        ></ion-icon>
        <span class="text-indigoBlack-100 mt-1">Cerrar sesión</span>
      </div>
    </div>
    <div class="w-full my-4 cursor-pointer">
      <div class="lineHeight w-full mb-8"></div>
      <div class="w-full flex mb-8 items-center justify-start">
        <ion-icon name="trash" class="text-red-500 mx-4 text-lg"></ion-icon>
        <span class="text-red-500 mt-1">Eliminar cuenta</span>
      </div>
    </div>
  </div>
</div>
