<p-blockUI [blocked]="loadingPayment">
  <div class="flex flex-col font-Josefin text-center">
    <div class="loader w-64 mb-4"></div>
    <span
      class="text-xl font-semibold text-white animate__animated animate__infinite animate__pulse"
      >Procesando pago...</span
    >
  </div>
</p-blockUI>
<div class="w-full font-Josefin flex flex-col lg:hidden px-4 mt-10">
  <small class="text-xs text-indigoBlack-400 font-semibold">Precio total</small>
  <span class="text-5xl text-indigoPink-700 mt-1 mb-4">{{
    this.transactionAmount | parseCurrency
  }}</span>
</div>
<div class="w-full lg:flex">
  <div class="lg:w-1/2 lg:flex justify-center items-center">
    <form
      (ngSubmit)="onFormSubmit()"
      id="paymentForm"
      class="px-4 lg:max-w-2xl lg:mt-12"
      [formGroup]="this.form"
    >
      <label
        [ngClass]="{
          titleWrongInput:
            this.form.get('creditCardNumber').touched &&
            this.form.get('creditCardNumber').invalid
        }"
        for="cardNumber"
        class="font-Josefin text-indigoBlack-400 text-xs mb-4"
        >Número de tarjeta</label
      >
      <div
        [ngClass]="{
          borderError:
            this.form.get('creditCardNumber').touched &&
            this.form.get('creditCardNumber').invalid
        }"
        class="bg-white w-full flex rounded-lg py-2 px-3 my-2 borderInputs items-center"
      >
        <div class="w-12 mx-2 flip-in-ver-left" *ngIf="this.paymentMethod">
          <img [src]="this.creditCardThumbnail" alt="" class="object-cover" />
        </div>

        <input
          type="number"
          id="cardNumber"
          (ngModelChange)="checkCreditCardNumber()"
          autocomplete="cc-number"
          formControlName="creditCardNumber"
          data-checkout="cardNumber"
          class="bg-white w-full text-indigoBlack-200 my-1 font-semibold focus:outline-none appearance-none"
          placeholder="*****************"
          onselectstart="return false"
          onpaste="return false"
          oncopy="return false"
          oncut="return false"
          ondrag="return false"
          ondrop="return false"
          autocomplete="off"
        />
      </div>
      <span
        class="font-Josefin text-indigoPink-700"
        *ngIf="
          this.form.get('creditCardNumber').touched &&
          this.form.get('creditCardNumber').invalid
        "
        >Número invalido</span
      >
      <div class="w-full mt-8 mb-1 flex">
        <div
          [ngClass]="{
            titleWrongInput:
              (this.form.get('expireDateMM').touched &&
                this.form.get('expireDateMM').invalid) ||
              (this.form.get('expireDateYY').touched &&
                this.form.get('expireDateYY').invalid)
          }"
          class="font-Josefin text-indigoBlack-400 text-sm w-1/2 mb-4"
        >
          Fecha de vencimiento
        </div>
        <div
          [ngClass]="{
            titleWrongInput:
              this.form.get('securityCode').touched &&
              this.form.get('securityCode').invalid
          }"
          for="securityCode"
          class="w-1/2 font-Josefin text-indigoBlack-400 text-xs mb-4"
        >
          CVV
        </div>
      </div>

      <div class="flex w-full">
        <div
          [ngClass]="{
            borderError:
              (this.form.get('expireDateMM').touched &&
                this.form.get('expireDateMM').invalid) ||
              (this.form.get('expireDateYY').touched &&
                this.form.get('expireDateYY').invalid)
          }"
          class="w-1/2 bg-white flex py-3 rounded-lg mr-2 font-Josefin borderInputs"
        >
          <input
            type="text"
            class="w-1/2 text-right text-indigoBlack-200 px-2 focus:outline-none"
            placeholder="MM"
            id="cardExpirationMonth"
            #monthContainer
            (ngModelChange)="typingDate(monthContainer)"
            formControlName="expireDateMM"
            data-checkout="cardExpirationMonth"
            onselectstart="return false"
            onpaste="return false"
            oncopy="return false"
            oncut="return false"
            ondrag="return false"
            ondrop="return false"
            autocomplete="off"
          />
          <span class="date-separator text-indigoBlack-200">/</span>
          <input
            type="text"
            class="w-1/2 text-indigoBlack-200 px-2 focus:outline-none"
            placeholder="YY"
            id="cardExpirationYear"
            formControlName="expireDateYY"
            #yearContainer
            (ngModelChange)="typingDate(yearContainer)"
            (focus)="onFocusInput(yearContainer)"
            data-checkout="cardExpirationYear"
            onselectstart="return false"
            onpaste="return false"
            oncopy="return false"
            oncut="return false"
            ondrag="return false"
            ondrop="return false"
            autocomplete="off"
          />
        </div>
        <div
          [ngClass]="{
            borderError:
              this.form.get('securityCode').touched &&
              this.form.get('securityCode').invalid
          }"
          class="w-1/2 bg-white py-3 rounded-lg px-3 borderInputs"
        >
          <input
            id="securityCode"
            autocomplete="cc-csc"
            data-checkout="securityCode"
            formControlName="securityCode"
            type="number"
            class="focus:outline-none w-full text-indigoBlack-200 appearance-none"
            onselectstart="return false"
            placeholder="****"
            onpaste="return false"
            oncopy="return false"
            oncut="return false"
            ondrag="return false"
            ondrop="return false"
            autocomplete="off"
          />
        </div>
      </div>
      <div class="w-full flex flex-col font-Josefin my-6">
        <label
          [ngClass]="{
            titleWrongInput:
              this.form.get('cardholderName').touched &&
              this.form.get('cardholderName').invalid
          }"
          for="cardholderName"
          class="font-Josefin text-indigoBlack-400 text-xs mb-4"
          autocomplete="cc-name"
          >Titular de la tarjeta</label
        >
        <input
          [ngClass]="{
            borderError:
              this.form.get('cardholderName').touched &&
              this.form.get('cardholderName').invalid
          }"
          id="cardholderName"
          data-checkout="cardholderName"
          formControlName="cardholderName"
          type="text"
          class="py-3 px-6 bg-white text-indigoBlack-200 rounded-lg focus:outline-none borderInputs"
          placeholder="Tu nombre y apellido"
        />
      </div>
      <span
        *ngIf="
          this.form.get('cardholderName').touched &&
          this.form.get('cardholderName').invalid
        "
        class="font-Josefin text-indigoPink-700"
        >Escriba un nombre valido</span
      >
      <div class="w-full mt-8 mb-1 flex">
        <div class="font-Josefin text-indigoBlack-400 text-sm w-1/2 mb-4">
          Tipo de documento
        </div>
        <div
          for="securityCode"
          class="w-1/2 font-Josefin text-indigoBlack-400 text-xs mb-4"
        >
          Número de documento
        </div>
      </div>
      <div class="flex w-full">
        <div class="w-1/2 bg-white py-3 rounded-lg px-3 borderInputs">
          <select
            id="docType"
            name="docType"
            data-checkout="docType"
            type="text"
            class="focus:outline-none w-full text-indigoBlack-200 bg-transparent"
            formControlName="docType"
          >
            <option value="" disabled>Seleccionar tipo</option>
            <option [value]="type.id" *ngFor="let type of identificationTypes">
              {{ type.name }}
            </option>
          </select>
        </div>
        <div class="w-1/2 bg-white py-3 rounded-lg px-3 borderInputs ml-2">
          <input
            id="docNumber"
            name="docNumber"
            formControlName="docNumber"
            placeholder="25249210"
            data-checkout="docNumber"
            type="number"
            class="focus:outline-none w-full text-indigoBlack-200 appearance-none"
          />
        </div>
      </div>
      <div class="w-full flex flex-col font-Josefin my-6" id="issuerInput">
        <label
          for="issuer"
          class="font-Josefin text-indigoBlack-400 text-xs mb-4"
          >Banco emisor</label
        >
        <select
          (ngModelChange)="getInstallments($event)"
          id="issuer"
          name="issuer"
          data-checkout="issuer"
          class="py-3 px-4 bg-white text-indigoBlack-200 rounded-lg focus:outline-none borderInputs"
          formControlName="selectedIssuer"
        >
          <option value="" disabled>Selecciona un banco</option>
          <option [value]="issuer.id" *ngFor="let issuer of issuers">
            {{ issuer.name }}
          </option>
        </select>
      </div>
      <div
        class="w-full flex flex-col font-Josefin my-6"
        id="installmentsContainer"
      >
        <label
          for="installments"
          class="font-Josefin text-indigoBlack-400 text-xs mb-4"
          >Cantidad de cuotas</label
        >
        <select
          id="installments"
          name="installments"
          class="py-3 px-4 bg-white text-indigoBlack-200 rounded-lg focus:outline-none borderInputs"
          formControlName="installments"
        >
          <option value="" disabled>Cantidad de cuotas</option>
          <option [value]="i.installments" *ngFor="let i of installments">
            {{ i.recommended_message }}
          </option>
        </select>
      </div>
      <div>
        <div class="w-full justify-center flex flex-col items-center mb-8">
          <button
            [ngClass]="{ 'opacity-25': this.form.invalid }"
            [disabled]="this.form.invalid"
            class="w-11/12 py-4 rounded-lg text-white font-Josefin text-center bg-indigoPink-600 mb-4 focus:outline-none"
            type="submit"
          >
            Pagar
          </button>
          <span
            routerLink="/carrito"
            class="text-indigoBlack-200 font-Josefin cursor-pointer focus:outline-none"
            >Volver atras</span
          >
        </div>
      </div>
    </form>
  </div>
  <div
    class="w-1/2 hidden justify-center items-center lg:flex flex-col h-auto bg-indigoPink-600"
  >
    <img
      src="../../../../assets/credit_card_thumbnail.svg"
      class="w-3/4 object-cover"
      alt=""
    />
  </div>
</div>
