$lineColor: #f086a3;
$salePriceColor: #d2d2d2;
.slideHeight {
  height: 100vh !important;
}
#blur {
  filter: blur(10px);
  opacity: 0.5;
}
.imagesSelection {
  max-height: 200px;
}
.productDiscount {
  color: $salePriceColor;
  opacity: 0.7;
}
.productDiscount::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 10px;
  height: 1px;
  background-color: $lineColor;
}
.changeHeight {
  height: 250px;
}
