<app-header></app-header>
<swiper [config]="homeConfigSlider" #slider>
  <div class="slideHeight w-full z-30 relative" *ngFor="let slide of Slides">
    <div id="blur" class="w-full h-full bg-white absolute z-30"></div>
    <img class="object-cover absolute w-full h-full" [src]="slide.bg" alt="" />
    <div
      class="h-full w-full absolute z-40 flex items-center justify-items-start px-8 lg:px-32 lg:py-16"
    >
      <div class="flex flex-col items-start">
        <h2
          class="font-Josefin uppercase text-indigoBlack-700 text-5xl lg:text-6xl font-light"
        >
          {{ slide.title }}
        </h2>
        <p class="font-Josefin font-light max-w-sm lg:max-w-lg lg:text-xl">
          {{ slide.description }}
        </p>
        <button
          [ngStyle]="{ 'background-color': slide.color }"
          class="mt-4 px-16 lg:px-32 py-3 lg:text-xl text-lg bg-indigoPink-600 text-white font-Josefin focus:outline-none"
        >
          {{ slide.button }}
        </button>
      </div>
    </div>
  </div>
</swiper>

<div class="mt-16 mb-10 flex justify-center w-full" #selectionTitle>
  <h2
    class="font-Josefin uppercase text-2xl lg:text-3xl text-indigoPink-700 font-light"
  >
    Nuestra selección
  </h2>
</div>
<div class="w-full flex flex-col items-center mb-48" #selectionProducts>
  <div
    class="w-5/6 gap-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 justify-center"
  >
    <div *ngFor="let product of products">
      <img
        class="w-full max-w-2xl imagesSelection h-full object-cover cursor-pointer"
        [src]="product.image"
        alt=""
      />
      <div #info class="flex flex-col">
        <span class="uppercase font-Josefin text-indigoBlack-100">{{
          product.name
        }}</span>
        <div class="flex" #priceContainer>
          <span
            [ngClass]="{ productDiscount: this.product.sale > 0 }"
            class="font-Josefin relative text-indigoBlack-500"
            >{{ product.price | currency }}</span
          >
          <span
            class="ml-2 font-Josefin text-indigoBlack-500"
            #sale
            *ngIf="this.product.sale > 0"
            >{{ product.price | sales: product.sale | currency }}</span
          >
        </div>
        <p
          *ngIf="!product.stock"
          class="font-Josefin uppercase text-indigoPink-700 font-light italic"
        >
          agotado
        </p>
      </div>
    </div>
  </div>
</div>
<div class="w-full flex justify-center">
  <h2
    class="font-Josefin uppercase font-light text-indigoPink-700 text-4xl z-50"
  >
    Calzados
  </h2>
</div>
<div
  class="w-full relative h-72 md:h-80 bg-no-repeat bg-cover"
  style="background-image: url(../../assets/vector-brush.svg)"
  #shoes
>
  <div
    #containerDesktop
    class="flex-col w-full h-full justify-center hidden items-center md:flex"
  >
    <swiper [config]="shoesConfigDesktop" class="my-16 w-3/4">
      <div *ngFor="let p of products">
        <div class="w-56 changeHeight relative cursor-pointer">
          <div
            #info
            class="absolute z-50 text-white font-Josefin w-full h-full justify-center flex flex-col items-center"
          >
            <span class="uppercase text-xl">{{ p.name }}</span>
            <span class="uppercase font-light">{{ p.price | currency }}</span>
          </div>
          <div
            class="bg-black opacity-50 w-full h-full absolute rounded-xl z-30"
          ></div>
          <img
            [src]="p.image"
            class="w-full h-full object-cover rounded-xl"
            alt=""
          />
        </div>
      </div>
    </swiper>
    <div class="w-full flex justify-center">
      <button
        class="px-24 bg-indigoComplementary-100 py-6 rounded-sm font-Josefin text-white font-light text-2xl focus:outline-none"
      >
        Ver más
      </button>
    </div>
  </div>
  <div
    #containerMobile
    class="flex flex-col w-full h-full justify-center md:hidden"
  >
    <swiper [config]="shoesConfigMobile">
      <div>slide1</div>
      <div>slide2</div>
      <div>slide3</div>
      <div>slide4</div>
      <div>slide5</div>
      <div>slide6</div>
      <div>slide7</div>
      <div>slide8</div>
      <div>slide9</div>
      <div>slide10</div>
    </swiper>
  </div>
</div>
