<div
  class="lg:h-32 bg-indigoPink-600 px-8 justify-center items-center flex lg:flex-row flex-col"
>
  <img
    class="w-24 lg:w-32"
    src="../../../assets/vector-indigo-logo.png"
    alt=""
  />
  <div class="flex flex-col px-4 font-Josefin text-white">
    <span
      class="cursor-pointer focus:outline-none"
      routerLink="/contacto/terminos-condiciones"
      >Terminos y condiciones</span
    >
  </div>
  <div class="w-8/12 my-3 lg:my-0 lg:w-0 lg:h-24 widthLine"></div>
  <div>
    <div class="flex flex-col px-4 font-Josefin text-white">
      <span>Seguinos en:</span>
      <div class="flex items-center">
        <ion-icon name="logo-instagram"></ion-icon>
        <span class="text-white mx-2">indigo calzados</span>
      </div>
      <div class="flex items-center">
        <ion-icon name="logo-instagram"></ion-icon>
        <span class="text-white mx-2">indigo_newway</span>
      </div>
    </div>
  </div>
  <div class="w-8/12 my-3 lg:my-0 lg:w-0 lg:h-24 widthLine"></div>
  <div class="mb-4 lg:mb-0">
    <div class="flex flex-col px-4 font-Josefin text-white">
      <span>Contacto:</span>
      <div class="flex items-center">
        <ion-icon name="mail"></ion-icon>
        <span class="text-white mx-2">test@gmail.com</span>
      </div>
      <div class="flex items-center">
        <ion-icon name="call"></ion-icon>
        <span class="text-white mx-2">11223454893</span>
      </div>
    </div>
  </div>
</div>
